html,
body,
canvas {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: black;
  margin: 0;
}

.crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 99999px;
  background-color: transparent;
  transition: all 0.3s ease;
  z-index: 999;
}

.SpotifyModalContainer{
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.SpotifyModal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
}
.credits-modal{
  display: flex;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.credits-modal a {
  color: #fff;
}

.credits-modal ul li {
  margin-top: 1em;
}

.credits-modal-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90vw;
  height: 90vh;
  transform: translate(-50%, -50%);
  filter: blur(10000px);
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.829);
}
.credits-modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  z-index: 999;
  color: #fff;
  padding: 2em;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 1.2em;
  z-index: 999;
}

.credits-modal-header{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}

#MusicModal{
  position: absolute;
  text-align: center;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  z-index: 999;
  padding: 1em;
  font-weight: bold;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 1.2em;
  z-index: 999;
}

.MusicModalHeader{
  display: flex;
}

.MusicModalHeader > div{
  width: 0;
  height: 0;
  opacity: 0;
}

.MusicModalPiano.visible, .MusicModalSpeakers.visible{
  opacity: 1;
  background-color: white;
  padding: 1.75em;
  width: fit-content;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0 1em;
}

.icon {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;


}

.icon span {
  width: 3px;
  height: 100%;
  background-color: black;
  border-radius: 3px;
  content: '';
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}

span {
  width: 3px;
  height: 100%;
  background-color: black;
  border-radius: 3px;
  transform-origin: bottom;
  animation: bounce 2.2s ease infinite alternate;
  content: '';
}

span:nth-of-type(2) {
  animation-delay: -2.2s; 
}
span:nth-of-type(3) {
  animation-delay: -3.7s; 
}